.EightBall {
  color: white;
  border-radius: 100px;
  width: 200px;
  height: 200px;
  position: relative;
}

.EightBall-text {
  /* justify-content: center; */
  text-align: center;
  width:100%;
  position: absolute;
  top: 50%;
  margin-top: -1em;
  /* left: 50%; */
  /* margin: -15px 0 0 -65px; */
}